<div class="comment_content">
	<%= comment.content %>
</div>

<p>
	<%= comment.user.email %>
</p>

<% if comment.user == current_user %>
	<%= link_to 'Delete comment', [comment.photo, comment], method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
